@(examplesForm: Form[IOExamples], generatedCode: List[String])

<form id="learningForm" method="post" action="" class="form-horizontal">
    <div class="row">
        <div class="col-md-2">
            @helper.inputText(examplesForm("name"),
                'id -> "funcName",
                'class -> "form-control",
                'placeholder -> "f",
                '_label -> "Function Name")
        </div>
        <div class="col-md-2">
            <label for="numArgs">
                No. Args
            </label>
            <input class="form-control" id="numArgs" value="1">
        </div>
        <div class="col-md-2">
            <label for="numFuncs">
                No. Functions
            </label>
            <select class="form-control" id="numFuncs">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>
    <div id="table-container">
        @dynamicTable(examplesForm, generatedCode)
    </div>
</form>
