@(examplesForm: Form[IOExamples], generatedCode: List[String])

<form id="learningForm" method="post" action="" class="form-horizontal" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4">
                @helper.inputText(examplesForm("name"),
                    'id -> "funcName",
                    'class -> "form-control",
                    'placeholder -> "f",
                    '_label -> "Function Name")
            </div>
            <div class="col-md-4">
                <label for="numArgs">
                    No. Args
                </label>
                <input class="form-control" id="numArgs" value="1">
            </div>
            <div class="col-md-4">
                <label class="checkbox-inline">
                    <label class="checkbox-inline"><input id="add-box" type="checkbox" value="" checked>Add to background knowledge</label>
                </label>
            </div>
            <div class="col-md-12">
                <button type="submit" id="export-btn" class="btn btn-primary" data-loading-text="Running..."><span class="glyphicon glyphicon-triangle-right"></span> Run ASP </button>
                <button id="save-btn" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
                <button id="download-btn" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-download"></span> Download </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" id="langBiasPanel">
                <div class="panel-heading">
                    <h4>Language Bias</h4>
                </div>
                <div class="panel-body" id="langBiasBody">
                    <div>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="@examplesForm("useAddition").name" value="true" @if(examplesForm("useAddition").valueOr("false") == "true"){checked="checked"}>
                            Addition
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="@examplesForm("useSubtraction").name" value="true" @if(examplesForm("useSubtraction").valueOr("false") == "true"){checked="checked"}>
                            Subtraction
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="@examplesForm("useMultiplication").name" value="true" @if(examplesForm("useMultiplication").valueOr("false") == "true"){checked="checked"}>
                            Multiplication
                        </label>
                        <!--<label class="checkbox-inline">
                            <input type="checkbox" name="@examplesForm("useDivision").name" value="true" @if(examplesForm("useDivision").valueOr("false") == "true"){checked="checked"}>
                            Division
                        </label>-->
                    </div>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox" value="">Equality</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Less Than</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Greater Than</label>
                    </div>
                    <div>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="@examplesForm("useTailRecursion").name" value="true" @if(examplesForm("useTailRecursion").valueOr("false") == "true"){checked="checked"}>
                            Limit learning to tail recursion
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-2">
            <label for="numFuncs">
                No. Functions
            </label>
            <select class="form-control" id="numFuncs">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>-->
    </div>
    <div id="table-container">
        @dynamicTable(examplesForm, generatedCode)
    </div>
</form>
